/* Import Alata font */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* Base styles */
* {
    font-family: 'Alata', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}